[submodule "extern/wasmblr"]
	path = extern/wasmblr
	url = https://github.com/bwasti/wasmblr.git
[submodule "extern/loop_nest"]
	path = extern/loop_nest
	url = https://github.com/facebookresearch/loop_nest.git
