[submodule "extern/wasmblr"]
	path = extern/wasmblr
	url = https://github.com/bwasti/wasmblr.git
[submodule "extern/wasm-micro-runtime"]
	path = extern/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
