[submodule "extern/wasmblr"]
	path = extern/wasmblr
	url = https://github.com/bwasti/wasmblr.git
[submodule "extern/loop_nest"]
	path = extern/loop_nest
	url = https://github.com/facebookresearch/loop_nest.git
[submodule "extern/wasm-micro-runtime"]
	path = extern/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "extern/libsysml"]
	path = extern/libsysml
	url = https://github.com/facebookresearch/libsysml.git
